.contact-page .banner-section .container .col {text-align: center; margin: auto;}

.contact-page .banner-section .container .col h1 {max-width: none;}

.contact-page .banner-section .container .col p.body {max-width: none;}